.profit, .open {
  color: #33d17a;
}

.loss {
    color: #e01b24;
}

.text-lg {
    font-size: 2em;
}

.text-md {
    font-size: 1em;
}

.text-sm {
    font-size: 0.8em;
}

.text-bold {
    font-weight: 700;
}

.drag-begin {
    background-color: alpha(@theme_selected_bg_color,0.2);
    box-shadow: inset 0 0 0 0.15em alpha(@theme_selected_bg_color,0.2);
}

.test {
    background-color: green;
}

.pd-left-sm {
    padding-left: 10px;
}

.pd-left-md {
    padding-left: 20px;
}

.pd-right-sm {
    padding-right: 10px;
}
