.profit, .open {
  color: #33d17a;
}

.loss {
    color: #e01b24;
}

.text-lg {
    font-size: 2em;
}

.text-md {
    font-size: 1em;
}

.text-sm {
    font-size: 0.8em;
}

.text-bold {
    font-weight: 700;
}
